#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: black;
    font-style: italic;
    background-color: lightblue;
}

.absent {
    color: black;
    font-weight: bold;
    background-color: lightgreen;
}

[v-cloak] {
  display: none;
}
