<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">

                <div class="alert alert-danger" v-if="errors.length > 0">
                    <ul>
                      <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <select class="form-control" v-model="type">
                      <option v-for="activityType in types">{{ activityType }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
                    <label class="form-check-label" for="media1">Traditional</label>
                </div>

                <div class="form-check-inline">
                    <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
                    <label class="form-check-label" for="media2">Digital</label>
                </div>

                <br>

<!-- div for completed or not check box -->
                <div class="form-check-inline">
                  <input type="checkbox" id="checkbox" v-model="complete">
                  <label class="form-check-label" for="checkbox">Completed?</label>
                </div>

                <br>

<!-- div for notes -->
                <div class="form-group">
                  <label for="notes">Notes</label>
                  <textarea class="form-control" v-model="notes"></textarea>
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>

            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3>{{ totalRecordsMessage }}</h3>

                <div id="records">
                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                            <th>Completed?</th>
                            <th>Notes</th>
                        </tr>

<!-- binds the classes to the table values to apply the styles from the style sheet -->
                        <tr v-for="record in activityRecords" v-bind:class="record.type">
                          <td>{{ shortDate(record.date) }}</td>
                          <td>{{ record.hours }}</td>
                          <td>{{ record.type }}</td>
                          <td>{{ record.medium }}</td>
                          <td>{{ completed(record.complete) }}</td>
                          <td>{{ record.notes }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <p>You have practiced a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->

            </div>
        </div>

    </div>

    <script>

        let app = Vue.createApp({
            data() {
                return {
                    activity: 'Practice Art',
                    activityRecords: [],

                    dateString: '',
                    hours: 1,
                    type: 'Sketching',
                    medium: 'Traditional',

                    // empty string for notes
                    notes: '',

                    types: [ 'Sketching', 'Drawing', 'Painting' ],

                    // sets complete as a boolean value
                    complete: true,

                    errors: []
                }
            },
            methods: {
                submit() {
                    this.errors = []

                    let date = new Date(this.dateString)

                    if (!this.dateString || this.dateString == 'Invalid Date' || date > new Date() ) {
                        this.errors.push('Select a valid date, today or in the past')
                    }

                    this.hours = parseFloat(this.hours)

                    if (this.hours <= 0 || this.hours > 24) {
                        this.errors.push('Add a valid number of hours')
                    }

                    if (!this.type) {
                        this.errors.push('Select a type')
                    }

                    if (!this.medium) {
                        this.errors.push('Select a medium')
                    }

                    // adds validation to notes
                    // if button is clicked with over 40 characters in the textarea then the error is pushed to the errors array
                    if (this.notes.length > 40) {
                      this.errors.push('Too much text in note')
                    }

                    if (this.errors.length == 0) {
                        let newActivityRecord = {
                          date: date,
                          hours: this.hours,
                          type: this.type,
                          medium: this.medium,
                          complete: this.complete,
                          notes: this.notes
                        }

                        this.activityRecords.push(newActivityRecord)
                        this.activityRecords.sort(function (r1, r2) {
                            return r1.date.getTime() - r2.date.getTime()
                        })
                    }
                },
                shortDate(date) {
                    return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
                  },

                // adds completed or not completed depending on if box is checked or not
                completed(complete) {
                  if (complete == true) {
                    return 'Completed'
                  } else {
                    return 'Not completed'
                  }
                }
            },
            computed: {
                totalRecordsMessage() {

                    let numberOfRecords = this.activityRecords.length

                    if (numberOfRecords == 1) {
                        return '1 record'
                    } else {
                        return `${numberOfRecords} records`
                    }
                },
                totalHours() {
                    let total = 0
                    this.activityRecords.forEach( record => {
                        total = total + record.hours
                    })
                    return total
                }
            }
        })

        app.mount('#app')

    </script>

</body>

</html>
